/* Importing Google font - Fira Sans */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');
/* https://colorhunt.co/palette/c0c78ca6b37dfefae0b99470 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Marcellus', sans-serif;
}

:root {
  --main-bg-color: #B99470;
  --link-color: #000;
  --hover-color: #1dbf73;
}
main{
  overflow: hidden;
}

/* HEADER START */
header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 20px;
  background-color: white;
  box-shadow: -1px 4px 6px -1px rgba(0,0,0,0.43);
  -webkit-box-shadow: -1px 4px 6px -1px rgba(0,0,0,0.43);
  -moz-box-shadow: -1px 4px 6px -1px rgba(0,0,0,0.43);
  height: 100px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  z-index: 10000;

}

.navbar .menu-links li a.active::after {
  content: "";
  position: absolute;
  top: 20px; 
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #796149, #ffd7be, #796149); 
  background-size: 200px 2px; 
  animation: glow 2s infinite; 
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100px 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* icon */
.navbar .menu-links li a.activecon {
  color: #796149; 
  font-weight: bold; 
  position: relative; 
}

header .navbar {
  max-width: 2000px;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 0 20px; 
 
}

.navbar .menu-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
 
}

.navbar .menu-links li a {
  color:black;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar .menu-links .language-item a {
  display: flex;
  gap: 8px;
  align-items: center;
  position: fixed;
 
}

.navbar .menu-links .language-item span {
  font-size: 1.3rem;
}

.navbar .menu-links li a:hover {
  color: #796149;
}
.navbar .menu-links .join-btn a {
  border: 1px solid #000000;
  padding: 8px 15px;
  border-radius: 4px;
}

.navbar .menu-links .join-btn a:hover {
  color: #000000;
  border-color: transparent;
}


.dropdown { /* Dropdown Menu Styles */
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menus {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  display: none; 
}

.dropdown-menus li {
  margin-bottom: 10px;
  list-style-type: none;
}

.dropdown-menus a {
  color: #333;
  text-decoration: none;
}

.dropdown-menus a:hover {
  color: #666;
}


.dropdown:hover .dropdown-menus {/* Show dropdown on hover */
  display: block; 
}

/* text */
.navbar .menu-links li a.active {
  color: #796149; 
  font-weight: bold; 
  position: relative; 
}

.logo{
 width: 150px;
}
.cart {
  margin-left: 50px;
  display: inline-block;
  width: 3em;
  height: 2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 56'%3E%3Cpath fill='%23000' d='M45.416 28.73C51.155 28.73 56 23.926 56 18.166c0-5.802-4.783-10.564-10.584-10.564c-5.781 0-10.564 4.762-10.564 10.564S39.635 28.73 45.416 28.73m-28.51 13.287h24.268c.81 0 1.517-.665 1.517-1.56c0-.893-.707-1.559-1.517-1.559H17.26c-1.186 0-1.893-.832-2.1-2.1l-.333-2.183h26.388c2.163 0 3.577-.936 4.305-2.6l.166-.437c-7.694-.02-13.683-5.947-13.683-13.412q0-.936.125-1.872H12.165l-.395-2.64c-.25-1.602-.79-2.413-2.911-2.413h-7.32c-.832 0-1.539.728-1.539 1.56c0 .852.707 1.58 1.539 1.58h7.028l3.328 22.833c.436 2.953 1.996 4.804 5.011 4.804m28.53-16.989c-.727 0-1.372-.499-1.372-1.29v-4.304h-3.972a1.274 1.274 0 0 1-1.268-1.268c0-.707.561-1.29 1.268-1.29h3.972v-4.304c0-.79.645-1.268 1.373-1.268c.727 0 1.35.478 1.35 1.268v4.305h3.973c.707 0 1.29.582 1.29 1.289c0 .686-.583 1.268-1.29 1.268h-3.972v4.305c0 .79-.624 1.29-1.351 1.29M15.18 48.755a3.33 3.33 0 0 0 3.369 3.369a3.34 3.34 0 0 0 3.369-3.37a3.355 3.355 0 0 0-3.37-3.368a3.34 3.34 0 0 0-3.368 3.369m19.422 0c0 1.892 1.518 3.369 3.41 3.369a3.34 3.34 0 0 0 3.37-3.37a3.355 3.355 0 0 0-3.37-3.368c-1.892 0-3.41 1.497-3.41 3.369'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.profile {
  display: inline-block;
  width: 3em;
  height: 2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M8 7a4 4 0 1 1 8 0a4 4 0 0 1-8 0m0 6a5 5 0 0 0-5 5a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3a5 5 0 0 0-5-5z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

/* SIDENAV */
.nav-btn { /* swiper button css */
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.swiper-button-next,
.swiper-button-prev {
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px; 
  text-align: center; 
  background-color: transparent; 
  background-position: center; 
}


.swiper-button-next {
  right: 50px;
}

.swiper-button-prev {
  left: 50px;
}

.nav-btn::before,
.nav-btn::after {
  font-size: 10px;
  color: #fff;
}
.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}
.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}


.navbar #hamburger-btn {
  color: #000000;
  cursor: pointer;
  display: none;
  font-size: 1.7rem;
}

.navbar #close-menu-btn {
  position: absolute;
  display: none;
  color: #000000;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.7rem;
}
/* HEADER END */


/* MAIN */
main{
  min-height: 100vh;
}
#rmpic{
  width: 100%;
  opacity:0.8;
  height: 400px;
  
}

.offer > div {
  flex: 1; /* Ensures that both divs take equal space */
}

.offer{
  display: flex;
  height: 450px;
  margin-top: 40px;
  box-shadow: 0px 0px 34px -9px rgba(74,74,74,0.24);
  -webkit-box-shadow: 0px 0px 34px -9px rgba(74,74,74,0.24);
  -moz-box-shadow: 0px 0px 34px -9px rgba(74,74,74,0.24);
  align-items: center;
  text-align: center;

}
.transform_con{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 10px;

}
.transform_con #limit{
  font-weight: bold;
  font-size: 1.1rem;
  align-self: flex-start;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
 
}

.transform_con #message{
  font-size: 1.1rem;
  margin-bottom: 10px;
  margin-left: 10px;
  align-self: center;
  max-width: 800px;
}
.transform_con ul {
margin-left: 10px;

}
.transform_con li{
   font-size: 1.1rem;
  margin-top: 10px;
  
}

.transform_con #checkNow {
  background-color: #B99470;
  border: none;
  height: 40px;
  width: 150px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 18px;
  margin-bottom: 10px;
  box-shadow: 0 1px 5px #0000009a; 
}

.transform_con #checkNow:hover {
  background-color: grey;
}

.about-container, .contact-container{/* about and contact*/
  display: flex;
  margin-top: 40px;
  padding: 10px;
  /* box-shadow: 0px 0px 34px -9px rgba(74,74,74,0.24);
  -webkit-box-shadow: 0px 0px 34px -9px rgba(74,74,74,0.24);
  -moz-box-shadow: 0px 0px 34px -9px rgba(74,74,74,0.24); */
  width: 100vw;
}
.contact-container {
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 50px;
    box-shadow: 0px 0px 34px -9px rgba(74,74,74,0.24);
  -webkit-box-shadow: 0px 0px 34px -9px rgba(74,74,74,0.24);
  -moz-box-shadow: 0px 0px 34px -9px rgba(74,74,74,0.24);
}

.info h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.info p {
  color: #4b5563;
  margin-bottom: 0.5rem;
}
.info .hours {
  color: #1d4ed8;
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
.info .phone , .email{
  color: #1f2937;
  font-weight: bold;
  margin-bottom: 1rem;
}
.info button {
  background-color: #e5e7eb;
  color: #dc2626;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}
.map iframe {
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 80vw;
  height: 400px;
  width: 600px;
}


.title {
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}
.topic-title{
  font-size: 18px;
  color: #444;
  margin-bottom: 1rem;
  text-align: center;
}

.details-of-titles{
  font-size: 1rem;
  color: #000000;
  margin-bottom: 1rem;
  text-align: center;

}

.ar-details {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
}

.details-of-ar {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 1rem;
  text-align: center;
  width: 50%; 
}

.ar-demo {
  flex: 1; 
  margin: 0 5px; 
}
.three-d{
  width: 100%;
   height: 400px;
}

.laman{ /* slider images */
  height: 100%;
  width: 100%;
  padding: 10px 10px 10px 10px;

}
.wrapper,
.slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide {
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(75, 75, 75, 0.4);
  z-index: 10;
}
.slide .image {
  height: 450px;
  width: 100%;
  object-fit: cover;
}
.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 10;
}
.image-data span.text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.image-data h2 {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
}
a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}
a.button:hover {
  color: #fff;
  background-color: #c87e4f;
}
/* END MAIN */

/* FOOTER */
.footer {
  max-width: 100%;
  width: 100%;
  background-color: #B99470;
  padding: 40px 20px;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.footer-row .footer-col {
  flex: 1;
  min-width: 200px; /* Ensure columns don't shrink too much */
}

.footer-row .footer-col h4 {
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 15px;
}

.footer-col .links {
  margin-top: 10px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}

.footer-col .links li a:hover {
  color: rgb(253, 253, 253);
}

.footer-col p {
  margin: 20px 0;
  color: black;
  max-width: 300px;
  font-size: 0.9rem;
}

.footer-col form {
  display: flex;
  gap: 5px;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6;
  caret-color: #000000;
  color: black;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: black;
}

.footer-col form button {
  color: black;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  color: black;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 15px;
  cursor: pointer;
  justify-content: center; /* Center icons */
}

.footer-col .icons i {
  color: black;
  font-size: 1.5rem;
}

.footer-col .icons i:hover {
  color: white;
}

/* RESPONSIVE FOOTER */
@media screen and (max-width: 768px) {
  .footer .footer-row {
    flex-direction: column; /* Stack columns vertically */
    align-items: center; /* Center align the content */
    text-align: center;
  }

  .footer-row .footer-col {
    flex: none;
    width: 100%; /* Full width for smaller screens */
    margin-bottom: 20px; /* Add spacing between columns */
  }

  .footer-col .icons {
    justify-content: center; /* Center icons */
  }

  .footer-col form {
    flex-direction: column; /* Stack input and button vertically */
    gap: 10px;
  }

  .footer-col input,
  .footer-col form button {
    width: 100%; /* Full width for input and button */
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 20px 10px;
  }

  .footer-row .footer-col h4 {
    font-size: 1rem;
  }

  .footer-col p {
    font-size: 0.8rem;
  }

  .footer-col .links li a {
    font-size: 0.8rem;
  }

  .footer-col .icons i {
    font-size: 1.2rem;
  }

}


.profile-container {
    position: relative;
    display: inline-block;
}

.dropdown-menus {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;  /* Start positioning from the middle */
  transform: translateX(-50%);  /* Shift it back by 50% of its own width */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 110px;
  list-style: none;
  padding: 5px 0;
  border-radius: 5px;
  text-align: center;
}


.dropdown-menus li {
    padding: 8px 15px;
}

.dropdown-menus li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-menus li:hover {
    background-color: #f1f1f1;
}



/* RESPONSIVE */
@media screen and (max-width: 750px) {

  .logo{
    width: 90px;
    transition: opacity 0.3s ease; /* Smooth transition for hiding */
   }

  header.show-mobile-menu .logo {
    display: none; /* Hide the logo when the menu is active */
  }

  .nav-btn {
    visibility: hidden;
  }
  
  .swiper-pagination-bullet {
    visibility: visible;
  }
  
  /* Slide Background */
  header.show-mobile-menu,
  .slide::before {
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3; 
  }
  /* Slide Styling */
  .slide {
    position: relative;
    z-index: 2; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: none;
  }
  
  .slide-content {
    z-index: 100000; 
    color: white;
    text-align: center;
  }
  
  .slide img {
    max-width: 100%;
    height: auto;
  }
  .offer {
    flex-direction: column; 
    height: 700px;
  }

  .offer > div {
    margin-bottom: 20px; 
  }

  .offer > div:last-child {
    margin-bottom: 0;
  }

  /* palitan kulay ng side nav */
  .navbar .menu-links {
    height: 100vh;
    width: 100%;
    background:#B99470;
    background-color: blur(10px);
    position: fixed;
    right: -100%;
    top: 0;
    display: flex;
    flex-direction: column-reverse; 
    justify-content: flex-end;
    padding: 75px 4px 0;
    transition: right 0.2s ease;
    z-index: 1000; 
   
  }
  header.show-mobile-menu .navbar .menu-links {
    right: 0;
  }

  .navbar .menu-links li {
    margin-bottom: 30px;
  }

  .navbar .menu-links li a {
    color: #000000;
    font-size: 1.1rem;
  }

  .navbar .menu-links .join-btn a {
    padding: 0;
  }


  .navbar :is(#close-menu-btn, #hamburger-btn) {
    display: block;
  }


  .cart {
    margin: 0;
  }
  .profile {
    color: white;
    cursor: pointer;
  }
  
  
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
  html {
    font-size: 75%;
 }
 header {
 
  height: 70px;

}

.transform_con #limit{
  font-size: 1.1rem;
}

.transform_con #message{
  font-size: 1.1rem;
}
.transform_con ul {
  font-size: 1.1rem;

}
.transform_con li{
  font-size: 1.1rem;
}
.transform_con #checkNow {
  width: 100px;
  height: 20px;
  font-size: 12px;
}
#rmpic{
  width: 100%;
  opacity:0.8;
  height: 200px;
  
}
.slide .image {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

/* text */
.navbar .menu-links li a.active {
  color: #ffffff; 
  font-weight: bold; 
  position: relative; 
}

.navbar .menu-links li a.active::after {
  background-image: linear-gradient(to right, #796149, #ffd7be, #796149); 
}

/* icon */
.navbar .menu-links li a.activecon {
  color: #ffffff; /* Active link color */
}

.dropdown-menus {
  display: none; 
}

.dropdown:hover .dropdown-menus {
  display: none; 
}

.title {
  font-size: 1.2rem;
 
}
.topic-title{
  font-size: 1.1rem;
 
}

.details-of-titles{
  font-size: 1rem;
 
}

.ar-details {
  flex-direction: column; 
  width: 100%; 
}
.ar-demo {
  width: 100%;
  margin: 10px 0;
}
.details-of-ar {
  width: 100%; 
}

.three-d{
  width: 100%;
   height: 300px;
}
.contact-container {
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
}
.contact-container .map {
  order: 2;
  margin-left: 2rem;
}
.map iframe {
  width: 24rem;
  height: 24rem;
}

  #hamburger-btn {
    display: block; /* Show the hamburger menu by default */
    font-size: 1.7rem;
    cursor: pointer;
    color: #000;
  }

  header.show-mobile-menu #hamburger-btn {
    display: none; /* Hide the hamburger menu when the menu is active */
  }
}



